@model TaskViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{}


<form method="Post" action="/Task/Submit">
    <div class="mb-3">
        <label for="" class="form-label">Irányítószám</label>
        <input type="number" class="form-control" asp-for="PostalCode">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Utca</label>
        <input type="text" class="form-control" asp-for="Street">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Házszám</label>
        <input type="number" class="form-control" asp-for="Number">
    </div>
    <button type="submit" class="btn btn-primary">Bejelentés</button>
</form>